// Fuentes para WebModerna 3.0
@font-face
	font-family 'MankSans'
	src url('../stylus/font/manksans.eot')
	src url('../stylus/font/manksans.eot') format('embedded-opentype'), url('../stylus/font/manksans.woff') format('woff'), url('../stylus/font/manksans.ttf') format('truetype'), url('../stylus/font/manksans.svg#MankSansRegular') format('svg')

@font-face
	font-family 'MankSansMedium'
	src url('../stylus/font/manksans-medium.eot')
	src url('../stylus/font/manksans-medium.eot') format('embedded-opentype'), url('../stylus/font/manksans-medium.woff') format('woff'),	url('../stylus/font/manksans-medium.ttf') format('truetype'), url('../stylus/font/manksans-medium.svg#MankSansMediumRegular') format('svg')

@font-face
	font-family 'MankSansMediumItalic'
	src url('../stylus/font/manksans-mediumoblique.eot')
	src url('../stylus/font/manksans-mediumoblique.eot') format('embedded-opentype'), url('../stylus/font/manksans-mediumoblique.woff') format('woff'), url('../stylus/font/manksans-mediumoblique.ttf') format('truetype'), url('../stylus/font/manksans-mediumoblique.svg#MankSansMediumMediumItalic') format('svg')

@font-face
	font-family 'MankSansOblique'
	src url('../stylus/font/manksans-oblique.eot')
	src url('../stylus/font/manksans-oblique.eot') format('embedded-opentype'), url('../stylus/font/manksans-oblique.woff') format('woff'), url('../stylus/font/manksans-oblique.ttf') format('truetype'), url('../stylus/font/manksans-oblique.svg#MankSansItalic') format('svg')