// Normalizador de estilos
@import 'normalize.styl'

// Animaciones genéricas
@import 'animate.styl'

// Paleta de Colores de Webmoderna
@import 'paleta_colores.styl'

// Fuentes de íconos
// @import 'dashicons.styl'
@import 'icomoon.styl'

// Caja de lightbox
// @import 'lightbox.styl'

// Fancybox de jquery
// @import 'source/jquery.fancybox.styl'
// @import 'helpers/jquery.fancybox-buttons.styl'
// @import 'helpers/jquery.fancybox-thumbs.styl'

// Estilos del formulario de Contact Form 7
// @import 'styles.styl'
// @import 'styles-rtl.styl'

// El almanaque
// @import 'datepicker.styl'

// Fuentes importantes para títulos y subtítulos
@import 'fonts.styl'

// Funciones varias
@import 'funciones.styl'


// Estructura de la web
@import 'estructura/cuerpoytitulos.styl'
// @import 'estructura/parallax.styl'
// @import 'estructura/backgrounds.styl'
@import 'estructura/encabezado.styl'
@import 'estructura/logo.styl'
@import 'estructura/navegacion.styl'
// @import 'estructura/slider.styl'
// @import 'estructura/secciones.styl'
// @import 'estructura/ir_arriba.styl'
@import 'estructura/footer.styl'

// Estilos para impresión
// @import 'print.styl'





// Estructura de un disco giratorio como para dj.
/*
body
	font-size 18px !important
	color gris_fuerte !important
	
	h1
		font-family 'MankSansMedium'
		font-weight bolder

		span
			color gris_suave

	h2
		font-family 'MankSans'

.content
	background blanco
	height auto
	padding 30px 12px
	width 100%

.note
	background-color gris_suave
	border-radius 5px
	box-shadow 0 1px 1px 0 rgba(0, 0, 0, 0.2)
	color gris_fuerte
	padding 10px 0

#disco
	perspective(800px)
	figure
		background transparent
		max-width 500px
		display inline-block
		margin 0
		overflow hidden
		padding 0
		position relative
		transform(rotateX(60deg))
		img
			animation(rotador infinite 4s linear)
			display block
			width 100%
		figcaption
			background linear-gradient(top, white, black)
			animation(rotador infinite 4s linear)
			color blanco
			left 190px
			position absolute
			top 49%
			z-index 9
			box-sizing border-box
			display( box-flex )
*/