/* ---- Accordion ---- */
.accordion
	background blanco
	border-radius 5px
	width 100%
	font-family  "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
	font-size  14px
	.accordion__enlace
		background-color #eee 
		border-bottom 1px solid #aaa
		border-radius 5px
		color negro
		display block 
		height auto 
		line-height 28px 
		padding 5px 
		text-decoration none 
		text-align center 
		&:hover
		&:focus
			color negro
			opacity 0.9
		&:active
			color negro

	.accordion__contenido
		color  #888 
		height 0
		margin-bottom 0px 
		overflow hidden
		padding 0 

.accordion :target + .accordion__contenido {
	margin: 0 2px;
	padding: 10px 15px ;
	height: auto;
	border-radius:  5px;
	box-shadow:  0 1px 3px rgba(0,0,0,.3);
}