/*
 * 
 * IVORY Framework - http://www.weice.in/ivory
 * Developed by Lakshmikanth Vallampati - kanth.vallampati@gmail.com
 * Licensed under GPLv2 
 * 
 */



/* ---- Alignments ---- */
.centered{float: none; margin: auto;}
.left {float: left;}
.right {float: right;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.text-justify {text-align: justify;}
.space-top {margin-top: 20px;}
.space-bot {margin-bottom: 20px;}
.space-htop {margin-top: 10px;}
.space-hbot {margin-bottom: 10px;}

