// Estilos del cuerpo
a
	color verde_azulado
	transition(all 0.3s ease-in-out)
	&:hover
	&:focus
		color naranja_suave

// Estilos de títulos
h1, h2, h3, h4, h5, h6
	font-family 'MankSansMedium'
	text-transform uppercase

// Estilos generales del cuerpo del documento
.cuerpo
	color negro
	font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	font-weight: 300;