// Estilos del cuerpo
a
	color verde_azulado
	transition(all 0.3s ease-in-out)
	&:hover
	&:focus
		color naranja_suave

h1
h2
h3
h4
h5
h6
	font-family 'MankSansMedium'
	text-transform uppercase
	
.cuerpo
	color negro
	font-family 'Open Sans'
	// font-weight lighter
	
.cuerpo__titulo
	color naranja_suave