.cuerpo__ir_arriba
	background-color rgba(gris_fuerte, 0.5)
	background-image unquote("url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAANCAYAAACpUE5eAAAACXBIWXMAAC4jAAAuIwF4pT92AAAABGdBTUEAALGOfPtRkwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAABFElEQVR42mL4//8/AwHsDcQXgPg0EDsTUg8QQIQM8wHiJ/8R4C4QO+LTAxBA+AxzBeJH/zHBbSC2waUPIIBwGWYBxPf+4wbXgFgfm16AAMJmmCVUAyFwDogN0fUDBBC6YUZAfPU/8eAsEGsjmwEQQMiG6UNjEhuYAMQzcMgdBmJ1mDkAAQQzTAeIT+HQMBuIWYGYG4iX4lBzEIhVQGYBBBDIMFUgPopD4SIgFkDyhRgQr8Ohdi8QywIEEEjRRhwKlgCxIJZIk8Bj6BqAAAIpeIpFYi0QC+FJo+JAvAOLvqcAAQSSbEYTXA3EIkRkSRkg3o6mtwoggBiggd0DxK+AeAXUdgYisRwQbwLil0DcBMQcAAEGAPYWgF4efs31AAAAAElFTkSuQmCC)")
	background-position center 45%
	background-repeat no-repeat
	border-radius 50%
	bottom 0.5em
	color blanco
	display inline-block
	position fixed
	padding 22px
	right 0.5em
	&:hover
		background-color rosa_suave