// Estilos de la barra de navegación principal
.navegacion__barra
	display none
	margin 0
	padding 0
	
	li
		border-top 1px solid gris_suave
		a
			color gris_suave
			display block
			font-family 'MankSansMedium'
			font-weight bolder
			padding 0.5em 1em
			position relative
			text-decoration none
			text-transform uppercase
			text-shadow_lindo()
			transition(all 0.3s ease-in-out)
			z-index 2
			&:after
				background naranja_suave
				content ""
				height 100%
				position absolute
				right 0
				top 0
				transition(all 0.3s ease-in-out)
				width 0
				z-index -1
			&:hover
			&:focus
				color blanco
				&:after
					width 100%
					
		&:first-child
			border-top none
			
	
// Estilos para el botón del menú
.boton__menu
	display inline-block
	position absolute
	right 0
	top 0
	a
		color gris_suave
		display block
		font-size 2em
		padding 0.2em
		text-decoration none
		&:hover
			color blanco
			

.boton__menu--rotar
	a
		color rosa_suave
		transform(rotate(90deg))
		&:hover
			color rosa_suave
			
@media all and (min-width:960px)
	.boton__menu
		display none
	
	.navegacion
		display table-cell
		position absolute
		right 0
		top 0
		
	.navegacion__barra
		display block
		li
			border-top none
			display inline-block