.blog
.contacto
.equipo
.portfolio
.servicios
	box-sizing()
	margin 0
	
.blog__header
.contacto__header
.equipo__header
.portfolio__header
.servicios__header
	padding 0.5em
	
.blog__header--titulo
.contacto__header--titulo
.equipo__header--titulo
.portfolio__header--titulo
.servicios__header--titulo
	color gris_suave
	margin 0
	position relative

.blog__header--titulo
.contacto__header--titulo
.equipo__header--titulo
.portfolio__header--titulo
.servicios__header--titulo
	display inline-block
	padding-bottom 0.5em
	&:after
		border 2px solid gris_suave
		bottom 0
		content ""
		left 0
		position absolute
		width 50%
		

.sidebar
	border 1px solid esmeralda
	display inline-block
	display flex-box
	

		