.portfolio
	background gris_nube
	
// .portfolio__header
// 	display block
// 	display flex
	// flex-flow row wrap
	// flex-direction   column-reverse /* row   row-reverse column */
	// justify-content space-between
	
.portfolio__header--titulo
	margin-bottom 1em
	
.porftolio__contenedor__listado
	box-sizing()
	display block
	display flex
	flex-flow row wrap
	justify-content center
	padding 0
	text-align center
	
.porftolio__contenedor__listado__item
	background blanco
	display inline-block
	list-style none
	border-radius 0.5em
	margin 1em 0
	overflow hidden
	text-align center
		
.porftolio__contenedor__listado__figure
	display block
	padding 0 0 1em 0
	perspective 600px
	transform-style preserve-3d
	// width 270px
	a
		display block
		margin 0 0 1em 0
		padding 0
		overflow hidden
		position relative
		text-decoration none
		transition(all 0.3s ease-in-out)
		width 100%
		img
			border-radius 0.5em 0.5em 0 0
			display block
			position relative
			transition(all 0.3s ease-in-out 0.3s)
			width 100%
			
		&:after
			color blanco
			content "\e986"
			font-family 'icomoon'
			font-size 3em
			left 0
			height 100%
			opacity 0
			position absolute
			top 30%
			transition(all 0.3s ease-in-out 0.2s)
			text-shadow_lindo()
			text-align center
			visibility hidden
			width 0
			z-index 4

		&:before
			background rgba(naranja_suave, 0.5)
			content ""
			right 0
			height 100%
			position absolute
			top 0
			transition(all 0.3s ease-in-out)
			width 0
			z-index 4
		
				
		&:hover
		&:focus
			&:before
				width 100%
			&:after
				opacity 1
				visibility visible
				width 100%
			img
				transform( scale(1.3) unquote(" ") rotate(8deg))

	figcaption
		display block
		font-family 'MankSansOblique'
		h3
			margin 0
			padding 0
		
.breadcrum
	margin 0
	text-align center
	ul
		margin 0
		padding 0

.breadcrum__listado__item
	color gris_suave
	display inline-block
	margin 0.2em 0.1em
	font-family 'MankSans'
	text-transform uppercase
	&:before
		content " / "
	a
		color gris_suave
		display inline-block
		padding 0.3em 0.5em
		text-decoration none
		&:hover
		&:focus
			text-decoration underline
		
	&:first-child
		&:before
			content ""

.breadcrum__listado__item--activo
	background negro
	border-radius 0.3em
	color blanco !important
	text-shadow_lindo()
	text-decoration none
	&:focus
	&:hover
		text-decoration none !important


@media all and (min-width:320px)
	.porftolio__contenedor__listado__figure
		width 300px
		
@media all and (min-width:620px)
	.breadcrum
		align-self flex-start
		margin 0.3em 0 0 1em
		
	.portfolio__header
		display block
		display flex
		flex-flow row wrap
		// flex-direction   column-reverse /* row   row-reverse column */
		justify-content space-between
		margin-bottom 0
	
	// .porftolio__contenedor__listado
	// 	margin 0
		
	.porftolio__contenedor__listado__item
		margin 1em

@media all and (min-width:960px)
	.porftolio__contenedor__listado__figure
		width 350px
		
@media all and (min-width:1240px)
	.porftolio__contenedor__listado
		justify-content space-around
		
	// .porftolio__contenedor__listado__figure
	// 	max-width 400px