.slider
	background-image url('../img/slider-img1.jpg')
	background-position top left
	background-repeat no-repeat
	background-size(cover)
	height 100vh
	
.slider__titulo
	color rgba(blanco, 0.7)
	margin 0
	position relative
	text-align center
	top 20vh
	&::after
		content " ::..."
	&::before
		content "...:: "
		
	